body {
    font-size: 125%;
    color: #484141;
    background-color: #F2F2F2;
    font-family: 'PT Sans', sans-serif;
}
/* Center all content in the page */
header, main, footer {
    width: 40em;
    max-width: 98%;
    margin: 0 auto;
}

/* style the navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; 
    height: 0;
    opacity: 0;
    transform: translateX(-100%);
    transition: all 2s ease-out;
}
nav.open ul {
    opacity: 1;
    height: auto;
    transform: translateX(0);
}
nav a:link {
    text-decoration: none;
    display: block;
    font-weight: 700;
    padding: 0.5em 1em;
    background-color: #999999;
    color: #101010;
    border: 1px solid black;
}
nav a:hover {
    background-color: #A67356;
}
a:link {
    color: #970FF2;
}
a:visited {
    color: #59098e
}
a:hover {
    color: #2C7F06;
}
a:active {
    color: black;
}
a.current {
    background-color: #a38e82;
    color:#101010;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

/* navbar toggle */
#menu-toggle {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    transition: all 0.3s;
}
#menu-toggle:hover {
    background-color: #99999973;
}
#menu-toggle div {
    width: 50%;
    height: 3px;
    background-color: #101010;
    margin: 4px auto;
    transform: translateY(12px);
}
/* tablet view and up */
@media only screen and (min-width: 600px) {
    nav ul {
        flex-direction: row; 
        transform: translateX(0);
        opacity: 1;
        height: auto;
        width: auto;
        transition: none;
    }
    #menu-toggle {
        opacity: 0;
        height: 0;
        width: 0;
    }
}